<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="price_showcasing" id="price_showcasing">
			<module before="Magento_Backend" name="ArtGalerie_AgPriceShowcasing"/>
		</route>
	</router>
</config>
